<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理 - 易买网</title>
	<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
	<script type="text/javascript" th:src="@{/scripts/function-manage.js}" src="../../static/scripts/function-manage.js"></script>
</head>
<body>
<div id="header" class="wrap">
	<div id="logo"><img src="../../static/images/logo.gif" th:src="@{/images/logo.gif}"/></div>
	<div class="help"><a href="../index.html" th:href="@{/}">返回前台页面</a></div>
	<div class="navbar">
		<ul class="clearfix">
			<li><a href="index.html" th:href="@{/manage}">首页</a></li>
			<li class="current"><a href="user.html" th:href="@{/user/manageUser}">用户</a></li>
			<li><a href="product.html" th:href="@{/product/manageProduct}">商品</a></li>
			<li><a href="order.html" th:href="@{/order/manageOrder}">订单</a></li>
			<li><a href="guestbook.html" th:href="@{/user/manageGuestbook}">留言</a></li>
			<li><a href="news.html" th:href="@{/news/manageNews}">新闻</a></li>
		</ul>
	</div>
</div>
<div id="childNav">
	<div class="welcome wrap">
		管理员<span th:text="${session.username}"></span>您好，今天是<span id="date"></span>，欢迎回到管理后台。
	</div>
</div>
<div id="position" class="wrap">
	您现在的位置：<a href="index.html" th:href="@{/manage}">易买网</a> &gt; 管理后台
</div>
<div id="main" class="wrap">
	<div id="menu-mng" class="lefter">
		<div class="box">
			<dl>
				<dt>用户管理</dt>
				<dd><em><a href="user-add.html" th:href="@{/user/toUserAdd}">新增</a></em><a href="user.html" th:href="@{/user/manageUser}">用户管理</a></dd>
				<dt>商品信息</dt>
				<dd><em><a href="productClass-add.html" th:href="@{/product/toProductClassAdd}">新增</a></em><a href="productClass.html" th:href="@{/product/manageProductClass}">分类管理</a></dd>
				<dd><em><a href="product-add.html" th:href="@{/product/toProductAdd}">新增</a></em><a href="product.html" th:href="@{/product/manageProduct}">商品管理</a></dd>
				<dt>订单管理</dt>
				<dd><a href="order.html" th:href="@{/order/manageOrder}">订单管理</a></dd>
				<dt>留言管理</dt>
				<dd><a href="guestbook.html" th:href="@{/user/manageGuestbook}">留言管理</a></dd>
				<dt>新闻管理</dt>
				<dd><em><a href="news-add.html" th:href="@{/news/toNewsAdd}">新增</a></em><a href="news.html" th:href="@{/news/manageNews}">新闻管理</a></dd>
			</dl>
		</div>
	</div>
	<div class="main">
		<h2>修改用户</h2>
		<div class="manage">
			<form th:action="@{/user/manageUp(id = ${user.eu_user_id})}">
				<table class="form">
					<tr>
						<td class="field">用户名：</td>
						<td><input type="text" class="text" name="userName" th:value="${user.eu_user_id}" value="zhangsan" readonly="readonly" /></td>
					</tr>
					<tr>
						<td class="field">姓名：</td>
						<td><input type="text" class="text" th:value="${user.eu_user_name}" name="name" value="张三" /></td>
					</tr>
					<tr>
						<td class="field">密码：</td>
						<td><input type="text" class="text" name="passWord" th:value="${user.eu_password}" value="zhangsan" /></td>
					</tr>
					<tr>
						<td class="field">性别：</td>
						<td><input type="radio" name="sex" value="1" checked="checked" />男 <input type="radio" name="sex" value="2" />女</td>
					</tr>
					<tr>
						<td class="field">出生日期：</td>
						<td>
							<select name="birthyear" id="sel1">
								<option th:value="${birthyear}" th:text="${birthyear}"></option>
							</select>年
							<select name="birthmonth" id="sel2">
								<option th:value="${birthmonth}" th:text="${birthmonth}"></option>
							</select>月
							<select name="birthday" id="sel3">
								<option th:value="${birthday}" th:text="${birthday}"></option>
							</select>日
						</td>
					</tr>
					<tr>
						<td class="field">手机号码：</td>
						<td><input type="text" class="text" name="mobile" th:value="${user.eu_mobile}" value="13800000000" /></td>
					</tr>
					<tr>
						<td class="field">送货地址：</td>
						<td><input type="text" class="text" name="address" th:value="${user.eu_address}" value="高老庄" /></td>
					</tr>
					<tr>
						<td class="field">头像：</td>
						<td><input type="file" class="text" name="photo" /></td>
					</tr>
					<tr>
						<td></td>
						<td><label class="ui-blue"><input type="submit" name="submit" value="更新" /></label></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="footer">
	Copyright &copy; 2013 易买网 All Rights Reserved. 川ICP证1000001号
</div>
</body>
</html>
