<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>易买网 - 首页</title>
	<link type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet"/>
	<script th:src="@{/scripts/jquery-3.1.1.min.js}" src="../static/scripts/jquery-3.1.1.min.js"></script>
	<script th:src="@{/scripts/function.js}" src="../static/scripts/function.js"></script>
</head>
<body>

<div th:if="${loginMsg!=null}">
	<script th:inline="javascript">
		var msg = [[${loginMsg}]]
		alert(msg);
	</script>
</div>

<div id="header" class="wrap">
	<div id="logo"><img th:src="@{/images/logo.gif}" src="../static/images/logo.gif" /></div>
	<div class="help">
		<a href="#" class="shopping" th:href="@{/user/toShopping}">购物车</a>
		<span th:if="${session.username!=null}" th:text="${session.username}" style="color: red">admin</span>
		<a th:if="${session.username==null}" href="login.html" th:href="@{/user/toLogin}">登录</a>
		<a th:if="${session.username!=null}" href="login.html" th:href="@{/user/outLogin}">注销</a>
		<a href="register.html" th:href="@{/user/toRegister}">注册</a>
		<a href="guestbook.html" th:href="@{/user/toGuestbook}">留言</a>
	</div>
	<div class="navbar">
		<ul class="clearfix">
			<li class="current"><a th:href="@{/}">首页</a></li>
			<li><a href="#" th:href="@{/erro}">图书</a></li>
			<li><a href="#" th:href="@{/erro}">百货</a></li>
			<li><a href="#" th:href="@{/erro}">品牌</a></li>
			<li><a href="#" th:href="@{/erro}">促销</a></li>
		</ul>
	</div>
</div>
<div id="childNav">
	<div class="wrap">
		<ul class="clearfix">
			<li class="first"><a href="#" th:href="@{/}">音乐</a></li>
			<li><a href="#" th:href="@{/erro}">影视</a></li>
			<li><a href="#" th:href="@{/erro}">少儿</a></li>
			<li><a href="#" th:href="@{/erro}">动漫</a></li>
			<li><a href="#" th:href="@{/erro}">小说</a></li>
			<li><a href="#" th:href="@{/erro}">外语</a></li>
			<li><a href="#" th:href="@{/erro}">数码相机</a></li>
			<li><a href="#" th:href="@{/erro}">笔记本</a></li>
			<li><a href="#" th:href="@{/erro}">羽绒服</a></li>
			<li><a href="#" th:href="@{/erro}">秋冬靴</a></li>
			<li><a href="#" th:href="@{/erro}">运动鞋</a></li>
			<li><a href="#" th:href="@{/erro}">美容护肤</a></li>
			<li><a href="#" th:href="@{/erro}">家纺用品</a></li>
			<li><a href="#" th:href="@{/erro}">婴幼奶粉</a></li>
			<li><a href="#" th:href="@{/erro}">饰品</a></li>
			<li class="last"><a href="#" th:href="@{/erro}">Investor Relations</a></li>
		</ul>
	</div>
</div>
<div id="register" class="wrap">
	<div class="shadow">
		<em class="corner lb"></em>
		<em class="corner rt"></em>
		<div class="box">
			<h1>欢迎回到易买网</h1>
			<form id="loginForm" method="post" th:action="@{/user/login}">
				<table>
					<tr>
						<td class="field">用户名：</td>
						<td><input class="text" type="text" id="userName" name="userName" onfocus="FocusItem(this)" onblur="CheckItem(this);" /><span></span></td>
					</tr>
					<tr>
						<td class="field">登录密码：</td>
						<td><input class="text" type="password" id="passWord" name="passWord" onfocus="FocusItem(this)" onblur="CheckItem(this);" /><span></span></td>
					</tr>
					<tr>
						<td class="field">验证码：</td>
						<td><input class="text verycode" id="very" type="text" name="veryCode" onfocus="FocusItem(this)" onblur="CheckItem(this);" /><img id="veryCode" th:src="@{/user/getKaptchaImage}" onclick="javascript:veryCodeImg()" /><span></span></td>
					</tr>
					<tr>
						<td></td>
						<td><label class="ui-green"><input type="submit" name="submit" value="立即登录" /></label></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="footer">
	Copyright &copy; 2013 易买网 All Rights Reserved. 川ICP证1000001号
</div>
</body>
</html>
