<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>易买网 - 首页</title>
	<link type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet"/>
	<script th:src="@{/scripts/function-manage.js}" src="../static/scripts/function-manage.js"></script>
	<script th:src="@{/scripts/jquery-3.1.1.min.js}" src="../static/scripts/jquery-3.1.1.min.js"></script>
	<script th:src="@{/scripts/jQuery.textSlider.js}" src="../static/scripts/jQuery.textSlider.js"></script>
	<style type="text/css">
		#scrollText{width:230px;height:160px;min-height:25px;line-height:25px;border:#ccc 1px solid; float:left;overflow:hidden}
		#scrollText1{width:230px;height:160px;min-height:25px;line-height:25px;border:#ccc 1px solid; float:left;overflow:hidden}
	</style>
	<script type="text/javascript">
        $(document).ready(function(){
            $("#scrollText").textSlider({line:1,speed:500,timer:800});
            $("#scrollText1").textSlider({line:1,speed:500,timer:800});
        });
	</script>
</head>
<body>
<div id="header" class="wrap">
	<div id="logo"><img th:src="@{/images/logo.gif}" src="../static/images/logo.gif" /></div>
	<div class="help">
		<a href="#" class="shopping" th:href="@{/}">购物车</a>
		<span th:if="${session.username!=null}" th:text="${session.username}" style="color: red">admin</span>
		<a th:if="${session.username==null}" href="login.html" th:href="@{/user/toLogin}">登录</a>
		<a th:if="${session.username!=null}" href="login.html" th:href="@{/user/outLogin}">注销</a>
		<a href="register.html" th:href="@{/user/toRegister}">注册</a>
		<a href="guestbook.html" th:href="@{guestbook.html}">留言</a>
	</div>
	<div class="navbar">
		<ul class="clearfix">
			<li class="current"><a href="#" th:href="@{/}">首页</a></li>
			<li><a href="#" th:href="@{/erro}">图书</a></li>
			<li><a href="#" th:href="@{/erro}">百货</a></li>
			<li><a href="#" th:href="@{/erro}">品牌</a></li>
			<li><a href="#" th:href="@{/erro}">促销</a></li>
		</ul>
	</div>
</div>
<div id="childNav">
	<div class="wrap">
		<ul class="clearfix">
			<li class="first"><a href="#" th:href="@{/erro}">音乐</a></li>
			<li><a href="#" th:href="@{/erro}">影视</a></li>
			<li><a href="#" th:href="@{/erro}">少儿</a></li>
			<li><a href="#" th:href="@{/erro}">动漫</a></li>
			<li><a href="#" th:href="@{/erro}">小说</a></li>
			<li><a href="#" th:href="@{/erro}">外语</a></li>
			<li><a href="#" th:href="@{/erro}">数码相机</a></li>
			<li><a href="#" th:href="@{/erro}">笔记本</a></li>
			<li><a href="#" th:href="@{/erro}">羽绒服</a></li>
			<li><a href="#" th:href="@{/erro}">秋冬靴</a></li>
			<li><a href="#" th:href="@{/erro}">运动鞋</a></li>
			<li><a href="#" th:href="@{/erro}">美容护肤</a></li>
			<li><a href="#" th:href="@{/erro}">家纺用品</a></li>
			<li><a href="#" th:href="@{/}">婴幼奶粉</a></li>
			<li><a href="#" th:href="@{/erro}">饰品</a></li>
			<li class="last"><a href="#" th:href="@{/erro}">Investor Relations</a></li>
		</ul>
	</div>
</div>
<div id="position" class="wrap">
	您现在的位置：<a href="index.html" th:href="@{/}">易买网</a> &gt; 阅读新闻
</div>
<div id="main" class="wrap">
	<div class="left-side">
		<div class="news-list">
			<h4>最新公告</h4>
			<div id="scrollText1">
				<ul style="margin-top: 0px; ">
					<li><a href="news-view.html" target="_blank" th:href="@{news-view.html}">抢钱啦</a></li>
					<li><a href="news-view.html" target="_blank" th:href="@{news-view.html}">抢钱啦</a></li>
					<li><a href="news-view.html" target="_blank" th:href="@{news-view.html}">抢钱啦</a></li>
					<li><a href="news-view.html" target="_blank" th:href="@{news-view.html}">抢钱啦</a></li>
					<li><a href="news-view.html" target="_blank" th:href="@{news-view.html}">抢钱啦</a></li>
					<li><a href="news-view.html" target="_blank" th:href="@{news-view.html}">抢钱啦</a></li>
					<li><a href="news-view.html" target="_blank" th:href="@{news-view.html}">抢钱啦</a></li>
				</ul>
			</div>
		</div>
		<div class="spacer"></div>
		<div class="news-list">
			<h4>新闻动态</h4>
			<div id="scrollText">
				<ul style="margin-top: 0px; ">
					<li th:each="news:${session.newss}"><a href="news-view.html" target="_blank" th:href="@{/news/NewsView(id=${news.en_id})}" th:text="${news.en_title}">抢钱啦</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="news" class="right-main">
		<h1 th:text="${news.en_title}">铁三角 Audio-Technica ATH-EQ300M-SV 银色 挂耳式耳机</h1>
		<div class="content" th:text="${news.en_content}">
			f
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="footer">
	Copyright &copy; 2013 易买网 All Rights Reserved. 川ICP证1000001号
</div>
</body>
</html>
