<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xb.easybuy.mapper.ProductClassMapper">
    <insert id="insert" parameterType="net.xb.easybuy.baen.Product_Category">
        INSERT INTO easybuy_product_category (epc_id,epc_name,epc_parent_id)
         VALUES (#{epc_id},#{epc_name},#{epc_parent_id});
    </insert>
    <update id="update" parameterType="net.xb.easybuy.baen.Product_Category">
        UPDATE easybuy_product_category epc_name=#{epc_name},epc_parent_id=#{epc_parent_id}
        WHERE ep_id = #{epc_id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM easybuy_product_category WHERE epc_id = #{epc_id};
    </delete>

    <select id="findById" parameterType="Integer" resultType="net.xb.easybuy.baen.Product_Category">
         SELECT * FROM easybuy_product_category WHERE epc_id = #{epc_id};
    </select>

    <select id="findAll" resultType="net.xb.easybuy.baen.Product_Category">
        SELECT * FROM easybuy_product_category;
    </select>

    <select id="findClass" resultType="net.xb.easybuy.baen.Product_Category">
        SELECT * FROM easybuy_product_category WHERE epc_id = epc_parent_id;
    </select>
    
    <select id="findSmallClass" resultType="net.xb.easybuy.baen.Product_Category" parameterType="Integer">
         SELECT * FROM easybuy_product_category WHERE epc_parent_id = #{epc_id} AND epc_id != epc_parent_id;
    </select>
    
</mapper>
